<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <title>LIUM GO</title>

  <!-- Fav Icon -->
  <link rel="icon" href="/images/IElum/White.png" type="image/x-icon" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
    rel="stylesheet" />

  <!-- Stylesheets -->
  <link href="/css/font-awesome-all.css" rel="stylesheet" />
  <link href="/css/flaticon.css" rel="stylesheet" />
  <link href="/css/owl.css" rel="stylesheet" />
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/jquery.fancybox.min.css" rel="stylesheet" />
  <link href="/css/animate.css" rel="stylesheet" />
  <link href="/css/imagebg.css" rel="stylesheet" />
  <link href="/css/color/theme-color.css" id="jssDefault" rel="stylesheet" />
  <link href="/css/switcher-style.css" rel="stylesheet" />
  <link href="/css/rtl.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
  <link href="/css/responsive.css" rel="stylesheet" />
  <style>
    .testimonial-inner .image-column {
      display: none;
    }
  </style>
</head>

<!-- page wrapper -->

<body class="boxed_wrapper ltr">
  <!-- preloader -->
  <div class="preloader">
    <div class="preloader-icon"></div>
  </div>
  <!-- preloader -->

  <!-- page-direction -->

  <!-- page-direction end -->

  <!-- switcher menu -->
  <!--<div class="switcher">-->
  <!--    <div class="switch_btn">-->
  <!--        <button><i class="fas fa-palette"></i></button>-->
  <!--    </div>-->
  <!--    <div class="switch_menu">-->
  <!--        <div class="switcher_container">-->
  <!--            <ul id="styleOptions" title="switch styling">-->
  <!--                <li>-->
  <!--                    <a href="javascript: void(0)" data-theme="blue" class="blue-color"></a>-->
  <!--                </li>-->
  <!--                <li>-->
  <!--                    <a href="javascript: void(0)" data-theme="pink" class="pink-color"></a>-->
  <!--                </li>-->
  <!--                <li>-->
  <!--                    <a href="javascript: void(0)" data-theme="violet" class="violet-color"></a>-->
  <!--                </li>-->
  <!--                <li>-->
  <!--                    <a href="javascript: void(0)" data-theme="crimson" class="crimson-color"></a>-->
  <!--                </li>-->
  <!--                <li>-->
  <!--                    <a href="javascript: void(0)" data-theme="orange" class="orange-color"></a>-->
  <!--                </li>-->
  <!--            </ul>-->
  <!--        </div>-->
  <!--    </div>-->
  <!--</div>-->
  <!-- end switcher menu -->

  <!-- modal -->
  <!-- <div class="overlay d-flex justify-content-center align-items-center"> -->

  <!-- </div> -->

  <!-- end modal -->

  <!-- <div style="height: 30px;width: 100%;background-color: #92de90;">
        <p class="text-center" style="color: #fff;">hello</p>
    </div> -->

  <!-- main header -->
  <header class="main-header">
    <div class="outer-container">
      <div class="header-upper clearfix">
        <div class="outer-box pull-left">
          <!-- <div class="logo-box pull-left">
                        <figure class="logo"><a href="/">
                                <img src="/images/IElum/White.png" style="height: 75px; width: 80px;" alt="">
                            </a></figure>
                    </div> -->
          <div class="menu-area pull-left">
            <div class="mobile-nav-toggler">
              <i class="icon-bar icon-bar-home"></i>
              <i class="icon-bar icon-bar-home"></i>
              <i class="icon-bar icon-bar-home"></i>
            </div>
            <nav class="main-menu main-menu-homepage navbar-expand-md navbar-light">
              <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                <ul class="navigation clearfix">
                  <li class="current dropdown"><a href="/" id="home-text">Home</a></li>
                  <li class="dropdown"><a href="/about" id="home-text">About</a></li>
                  <li class="dropdown"><a href="/services" id="home-text">Services</a></li>
                  <li class="dropdown">
                    <a href="/electric-fleet" id="home-text">Electric Fleet</a>
                  </li>
                  <li class="dropdown"><a href="/jobs" id="home-text">Jobs</a></li>
                  <li class="dropdown"><a href="/blogs" id="home-text">Blog</a></li>
                  <li><a href="/contact" id="home-text">Contact</a></li>
                  <% if(currentUser){ %>
                    <li>
                      <form action="/admin/logout" method="post">
                        <button class="btn btn-danger ">Logout</button>
                      </form>
                    </li>
                    <% } %>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <div class="menu-right-content pull-right">
          <div class="phone">
            Call Us <a href="tel:+917303690636">+91 7303690636</a>
          </div>
          <!-- <div class="btn-box"><a href="/">Join Driver Community</a></div> -->
        </div>
      </div>
    </div>

    <!--sticky Header-->
    <div class="sticky-header">
      <div class="container clearfix">
        <figure class="logo-box">
          <a href="/"><img src="/images/IElum/green-png.png" style="height: 75px; width: 80px" alt="" /></a>
        </figure>
        <div class="menu-area">
          <nav class="main-menu clearfix"></nav>
        </div>
      </div>
    </div>
  </header>
  <!-- main-header end -->

  <!-- Mobile Menu  -->
  <div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><i class="fas fa-times"></i></div>

    <nav class="menu-box">
      <div class="nav-logo">
        <a href="/"><img src="/images/IElum/White.png" alt="" title="" /></a>
      </div>
      <div class="menu-outer"></div>

      <div class="social-links">
        <ul class="clearfix">
          <li>
            <a href="https://twitter.com/Evolveindia010">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x"
                viewBox="0 0 16 16">
                <path
                  d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z" />
              </svg>
            </a>

            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/profile.php?id=100092609838823"><span
                class="fab fa-facebook-square"></span></a>
          </li>
          <li>
            <a href="https://in.pinterest.com/evolveenterprise01/"><span class="fab fa-pinterest-p"></span></a>
          </li>
          <li>
            <a href="https://instagram.com/lium_go?utm_source=qr"><span class="fab fa-instagram"></span></a>
          </li>
          <li>
            <a href="https://youtube.com/@LiumGo?si=vNSTPNpZF25JPZdo"><span class="fab fa-youtube"></span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- End Mobile Menu -->

  <!-- banner-section -->
  <section class="banner-section">
    <!-- <div class="pattern-box">
            <div class="pattern-1 wow slideInDown" data-wow-delay="500ms" data-wow-duration="1500ms"
                style="background-image: url(/images/shape/pattern-1.png);"></div>
            <div class="pattern-2" style="background-image: url(/images/shape/pattern-2.png);"></div>
        </div> -->
    <!-- <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div class="content-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <h1><span class="animation_text_word">LIUM GO</span></h1>
                        <p>Electrifying Logistics, Sustainable Future </p>
                        <div class="btn-box">
                            <a href="/contact" class="theme-btn style-one">Contact Sales &nbsp;
                                <i class="fas fa-arrow-right"></i>
                            </a>
                            <a href="#" class="lightbox-image video-btn" data-caption=""><i
                                    class="flaticon-play"></i>Let's
                                Interact</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="image-box wow slideInRight" style="border-radius: 50%;" data-wow-delay="0ms"
                        data-wow-duration="1500ms">

                    </div>
                </div>
            </div>
        </div> -->
    <!-- <div class="banner-container"> -->
    <video autoplay loop muted nocontrols id="background-video">
      <source src="/images/video/ape.mp4" type="video/mp4" />
    </video>
    <div class="d-flex flex-column justify-content-center align-items-center centred-logo-container"
      style="height: 100%; width: 100%">
      <!-- <img src="/images/IElum/green-png.png" class="centered-logo" alt="centered-logo" /> -->

      <!-- <p class="text-dark font-weight-bold">Electrifying Logistics, Sustainable Future</p> -->
    </div>
    <!-- <div class="btn-box" style="z-index: 10;"><a href="/">Join Driver Community</a></div> -->
    <!-- </div> -->
  </section>
  <!-- banner-section end -->

  <!-- feature-section -->
  <section class="feature-section">
    <div class="auto-container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one wow flipInY" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="inner-box js-tilt">
              <div class="icon-box">
                <div class="anim-icon">
                  <span class="icon icon-1"></span>
                  <span class="icon icon-2"></span>
                  <span class="icon icon-3"></span>
                </div>
                <i class="flaticon-tools-and-utensils"></i>
              </div>
              <h3><a href="maintaince.html">Green Delivery Revolution</a></h3>
              <p>
                Elevate your brand with eco-friendly electric vehicles for
                sustainable and impactful deliveries.
              </p>
              <!-- <div class="btn-box"><a href="./maintaince.html" class="theme-btn style-two">View Pannel</a>
                            </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one wow flipInY" data-wow-delay="300ms" data-wow-duration="1500ms">
            <div class="inner-box js-tilt">
              <div class="icon-box">
                <div class="anim-icon">
                  <span class="icon icon-1"></span>
                  <span class="icon icon-2"></span>
                  <span class="icon icon-3"></span>
                </div>
                <i class="flaticon-checked"></i>
              </div>
              <h3><a href="maintaince.html">Efficiency Redefined</a></h3>
              <p>
                Streamline operations with our high-performance electric
                loading vehicles, ensuring timely and efficient deliveries.
              </p>
              <!-- <div class="btn-box"><a href="maintaince.html" class="theme-btn style-two">Find Now</a>
                            </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
          <div class="feature-block-one wow flipInY" data-wow-delay="600ms" data-wow-duration="1500ms">
            <div class="inner-box js-tilt">
              <div class="icon-box">
                <div class="anim-icon">
                  <span class="icon icon-1"></span>
                  <span class="icon icon-2"></span>
                  <span class="icon icon-3"></span>
                </div>
                <i class="flaticon-pie-chart"></i>
              </div>
              <h3><a href="maintaince.html">Partnering for Progress</a></h3>
              <p>
                Partner with us and incorporate electric vehicles into your
                delivery fleet and lead the change towards a greener
                environment.
              </p>
              <!-- <div class="btn-box"><a href="maintaince.html" class="theme-btn style-two">Book Now</a>
                            </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- feature-section end -->

  <!-- about-section -->
  <section class="about-section" id="about">
    <div class="auto-container">
      <div class="row clearfix">
        <div class="col-lg-6 col-md-6 col-sm-12 image-column">
          <div id="image_block_01">
            <div class="image-box wow slideInLeft" data-wow-delay="0ms"
              style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px" data-wow-duration="1500ms">
              <figure class="image js-tilt">
                <img src="/images/IElum/same-day-express-deliveries.png" alt="" />
              </figure>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 content-column">
          <div id="content_block_01">
            <div class="content-box">
              <div class="sec-title wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                <p>This is what you need</p>
                <h2>Get to know our Services</h2>
              </div>
              <div class="text wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                <p>
                  Lium Go specializes in conquering the logistical challenges
                  presented by diverse terrains and remote regions, offering
                  exceptional last-mile delivery services. With a handpicked
                  fleet of eco-friendly electric 2 and 3 wheelers, we ensure
                  efficient, sustainable deliveries around the clock. Our
                  commitment to innovation and customer satisfaction sets new
                  industry standards, making us the preferred choice for
                  seamless last-mile logistics.
                </p>
              </div>
              <ul class="list-item clearfix wow slideInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                <li>Efficient Electric Fleet</li>
                <li>Holistic Approach</li>
                <li>Diverse Solutions</li>
              </ul>
              <!-- <div class="btn-box wow slideInUp" data-wow-delay="900ms" data-wow-duration="1500ms"><a
                                    href="maintaince.html" class="theme-btn style-one">Read More</a></div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about-section end -->

  <!-- process-section -->
  <section class="process-section bg-color-1">
    <div class="pattern-box">
      <div class="pattern-1 wow slideInDown animated" data-wow-delay="500ms" data-wow-duration="1500ms"
        style="background-image: url(/images/shape/pattern-3.png)"></div>
    </div>
    <div class="auto-container">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 content-column">
          <div id="content_block_02">
            <div class="content-box">
              <div class="sec-title wow slideInUp text-center" data-wow-delay="00ms" data-wow-duration="1500ms">
                <p>Sparking an Eco-Friendly Delivery Revolution</p>
                <h2>Go Green with Lium Go</h2>
              </div>
              <div class="text wow slideInUp text-center" data-wow-delay="300ms" data-wow-duration="1500ms">
                <p>
                  Lium Go spearheads a revolutionary shift in last-mile
                  logistics, fostering environmentally conscious deliveries.
                  Our electric three-wheelers embody efficiency and zero
                  emissions, redefining urban mobility. Here's how to join the
                  movement:
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 content-column d-flex align-items-center">
          <div id="content_block_02">
            <div class="content-box">
              <!-- <div
                  class="sec-title wow slideInUp"
                  data-wow-delay="00ms"
                  data-wow-duration="1500ms"
                >
                  <p>Sparking an Eco-Friendly Delivery Revolution</p>
                  <h2>Go Green with Lium Go</h2>
                </div> -->
              <!-- <div
                  class="text wow slideInUp"
                  data-wow-delay="300ms"
                  data-wow-duration="1500ms"
                >
                  <p>
                    Lium Go spearheads a revolutionary shift in last-mile
                    logistics, fostering environmentally conscious deliveries.
                    Our electric three-wheelers embody efficiency and zero
                    emissions, redefining urban mobility. Here's how to join the
                    movement:
                  </p>
                </div> -->
              <div class="inner-box wow slideInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                <div class="single-item">
                  <div class="count-box">1</div>
                  <h3><a href="/">Explore Our Vision</a></h3>
                  <div class="text">
                    Dive into our commitment to sustainable progress at Lium
                    Go, where innovation meets green logistics.
                  </div>
                </div>
                <div class="single-item">
                  <div class="count-box">2</div>
                  <h3><a href="/">Connect for Change</a></h3>
                  <div class="text">
                    Reach out to us at
                    <span class="dark-green">+91 7303690636</span>
                    or
                    <span class="dark-green">7019963774</span> and explore
                    opportunities for eco-friendly collaborations.
                  </div>
                </div>
                <div class="single-item">
                  <div class="count-box">3</div>
                  <h3><a href="/">Embrace Sustainability</a></h3>
                  <div class="text">
                    Partner with Lium Go to pioneer cleaner air, reduced
                    congestion, and a greener world through electrifying
                    last-mile delivery.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 image-column d-flex align-items-center">
          <div id="image_block_02">
            <div class="image-box wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
              <img src="/images/IElum/sfgfsgsf.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- process-section end -->

  <!-- service-section -->
  <section class="service-section" id="services">
    <div class="auto-container">
      <div class="sec-title text-center">
        <p>Best Services</p>
        <h2>Explore Our Services</h2>
      </div>
      <div class="row clearfix d-flex align-items-stretch">
        <!-- card 1 -->
        <div class="col-lg-4 col-md-6 col-sm-12 service-block" id="home-service-block">
          <div class="wrapper">
            <div class="card" data-tilt>
              <div class="card-image-box">
                <img src="/images/service/eco-friendly-delivery.jpeg" alt="eco-friendly-delivery-Image" />
              </div>
              <div class="content">
                <h3>Eco-Friendly Deliveries</h3>
              </div>
            </div>
          </div>
        </div>

        <!-- card 2 -->
        <div class="col-lg-4 col-md-6 col-sm-12 service-block" id="home-service-block">
          <div class="wrapper">
            <div class="card" data-tilt>
              <div class="card-image-box">
                <img src="/images/service/last-mile-delivery.png" alt="last-mile-delivery-Image" />
              </div>
              <div class="content">
                <h3>Last Mile Delivery</h3>
              </div>
            </div>
          </div>
        </div>

        <!-- card 3 -->
        <div class="col-lg-4 col-md-6 col-sm-12 service-block" id="home-service-block">
          <div class="wrapper">
            <div class="card" data-tilt>
              <div class="card-image-box d-flex justify-content-center align-items-center">
                <a href="/services">
                  <svg xmlns="http://www.w3.org/2000/svg" width="84" height="84" fill="currentColor"
                    class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                  </svg>
                </a>
              </div>
              <div class="content">
                <h3><a href="/services">Expore More</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- service-section end -->

  <!-- testimonial-section -->
  <section class="testimonial-section">
    <div class="pattern-box">
      <div class="pattern-1 wow slideInLeft animated" data-wow-delay="500ms" data-wow-duration="1500ms"
        style="background-image: url(/images/shape/pattern-4.png)"></div>
      <div class="pattern-2" style="background-image: url(/images/shape/pattern-2.png)"></div>
    </div>
    <div class="auto-container">
      <div class="testimonial-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
        <!-- Deepak Sharma -->
        <div class="row clearfix">
          <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
            <div class="testimonial-inner">
              <div class="row align-items-center clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                  <figure class="image-box">
                    <img src="/images/resource/testimonial-1.jpg" alt="" />
                  </figure>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                  <div class="content-box">
                    <div class="sec-title">
                      <p>Testimonials</p>
                      <h2>What Clients Say?</h2>
                    </div>
                    <div class="icon-box">
                      <i class="flaticon-left-quotes-sign"></i>
                    </div>
                    <div class="text">
                      <h5>
                        Switching to Lium Go for my delivery fleet was a
                        game-changer! Their electric vehicles are reliable and
                        their service is top-notch. Definitely a smart
                        investment.
                      </h5>
                    </div>
                    <div class="author-info">
                      <h3>Deepak Sharma</h3>
                      <span class="designation">Businessman</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Nikhil Taneja -->
        <div class="row clearfix">
          <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
            <div class="testimonial-inner">
              <div class="row align-items-center clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                  <figure class="image-box">
                    <img src="/images/resource/testimonial-1.jpg" alt="" />
                  </figure>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                  <div class="content-box">
                    <div class="sec-title">
                      <p>Testimonials</p>
                      <h2>What Clients Say?</h2>
                    </div>
                    <div class="icon-box">
                      <i class="flaticon-left-quotes-sign"></i>
                    </div>
                    <div class="text">
                      <h5>
                        Impressed by Lium Go’s commitment to sustainability.
                        Their electric vehicles not only cut emissions but
                        also boost our brand's eco-friendly image. A win-win
                        partnership!
                      </h5>
                    </div>
                    <div class="author-info">
                      <h3>Nikhil Taneja</h3>
                      <span class="designation">Businessman</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Yash Gupta -->
        <div class="row clearfix">
          <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
            <div class="testimonial-inner">
              <div class="row align-items-center clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                  <figure class="image-box">
                    <img src="/images/resource/testimonial-1.jpg" alt="" />
                  </figure>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                  <div class="content-box">
                    <div class="sec-title">
                      <p>Testimonials</p>
                      <h2>What Clients Say?</h2>
                    </div>
                    <div class="icon-box">
                      <i class="flaticon-left-quotes-sign"></i>
                    </div>
                    <div class="text">
                      <h5>
                        Lium Go’s electric fleet transformed our last-mile
                        delivery efficiency. I'm pleased with their vehicles'
                        performance and the cost savings they bring.
                      </h5>
                    </div>
                    <div class="author-info">
                      <h3>Yash Gupta</h3>
                      <span class="designation">Businessman</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Priya Kashyap -->
        <div class="row clearfix">
          <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
            <div class="testimonial-inner">
              <div class="row align-items-center clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                  <figure class="image-box">
                    <img src="/images/resource/testimonial-1.jpg" alt="" />
                  </figure>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                  <div class="content-box">
                    <div class="sec-title">
                      <p>Testimonials</p>
                      <h2>What Clients Say?</h2>
                    </div>
                    <div class="icon-box">
                      <i class="flaticon-left-quotes-sign"></i>
                    </div>
                    <div class="text">
                      <h5>
                        Kudos to the team for revolutionizing last-mile
                        deliveries. Their EVs are not only reliable but also
                        contribute to a cleaner environment. Proud to be
                        associated with them.
                      </h5>
                    </div>
                    <div class="author-info">
                      <h3>Priya Kashyap</h3>
                      <span class="designation">Businesswoman</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Arnav Goshal -->
        <div class="row clearfix">
          <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
            <div class="testimonial-inner">
              <div class="row align-items-center clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                  <figure class="image-box">
                    <img src="/images/resource/testimonial-1.jpg" alt="" />
                  </figure>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                  <div class="content-box">
                    <div class="sec-title">
                      <p>Testimonials</p>
                      <h2>What Clients Say?</h2>
                    </div>
                    <div class="icon-box">
                      <i class="flaticon-left-quotes-sign"></i>
                    </div>
                    <div class="text">
                      <h5>
                        Lium Go’s electric mobility solutions are a testament
                        to innovation. Their vehicles are a step towards
                        greener logistics, and their support has been
                        outstanding
                      </h5>
                    </div>
                    <div class="author-info">
                      <h3>Arnav Goshal</h3>
                      <span class="designation">Businesswoman</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sunny Yaduvanshi -->
        <div class="row clearfix">
          <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
            <div class="testimonial-inner">
              <div class="row align-items-center clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                  <figure class="image-box">
                    <img src="/images/resource/testimonial-1.jpg" alt="" />
                  </figure>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                  <div class="content-box">
                    <div class="sec-title">
                      <p>Testimonials</p>
                      <h2>What Clients Say?</h2>
                    </div>
                    <div class="icon-box">
                      <i class="flaticon-left-quotes-sign"></i>
                    </div>
                    <div class="text">
                      <h5>
                        Choosing Lium Go for our delivery needs was an
                        excellent decision. Their electric vehicles are quiet,
                        efficient, and have positively impacted our operations
                      </h5>
                    </div>
                    <div class="author-info">
                      <h3>Sunny Yaduvanshi</h3>
                      <span class="designation">Businessman</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Amin Sayyad, businessman -->
        <div class="row clearfix">
          <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
            <div class="testimonial-inner">
              <div class="row align-items-center clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                  <figure class="image-box">
                    <img src="/images/resource/testimonial-1.jpg" alt="" />
                  </figure>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                  <div class="content-box">
                    <div class="sec-title">
                      <p>Testimonials</p>
                      <h2>What Clients Say?</h2>
                    </div>
                    <div class="icon-box">
                      <i class="flaticon-left-quotes-sign"></i>
                    </div>
                    <div class="text">
                      <h5>
                        Lium Go’s EVs have reduced our carbon footprint while
                        maintaining a high standard of service. It's
                        refreshing to work with a company that aligns with our
                        sustainability goals.
                      </h5>
                    </div>
                    <div class="author-info">
                      <h3>Amin Sayyad</h3>
                      <span class="designation">Businessman</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sanjana Oberoi -->
        <div class="row clearfix">
          <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
            <div class="testimonial-inner">
              <div class="row align-items-center clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                  <figure class="image-box">
                    <img src="/images/resource/testimonial-1.jpg" alt="" />
                  </figure>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                  <div class="content-box">
                    <div class="sec-title">
                      <p>Testimonials</p>
                      <h2>What Clients Say?</h2>
                    </div>
                    <div class="icon-box">
                      <i class="flaticon-left-quotes-sign"></i>
                    </div>
                    <div class="text">
                      <h5>
                        Lium Go’s vehicles have exceeded my expectations. Not
                        only do they perform well, but the savings on fuel
                        costs are remarkable. Looking forward to expanding our
                        fleet!
                      </h5>
                    </div>
                    <div class="author-info">
                      <h3>Sanjana Oberoi</h3>
                      <span class="designation">Businesswoman</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Hussain Ahmad -->
        <div class="row clearfix">
          <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
            <div class="testimonial-inner">
              <div class="row align-items-center clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                  <figure class="image-box">
                    <img src="/images/resource/testimonial-1.jpg" alt="" />
                  </figure>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                  <div class="content-box">
                    <div class="sec-title">
                      <p>Testimonials</p>
                      <h2>What Clients Say?</h2>
                    </div>
                    <div class="icon-box">
                      <i class="flaticon-left-quotes-sign"></i>
                    </div>
                    <div class="text">
                      <h5>
                        Lium Go’s dedication to eco-friendly transportation is
                        admirable. Their electric vehicles are reliable and
                        their customer service is exceptional. Happy to
                        endorse them.
                      </h5>
                    </div>
                    <div class="author-info">
                      <h3>Hussain Ahmad</h3>
                      <span class="designation">Businessman</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sachin Rathore -->
        <div class="row clearfix">
          <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
            <div class="testimonial-inner">
              <div class="row align-items-center clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                  <figure class="image-box">
                    <img src="/images/resource/testimonial-1.jpg" alt="" />
                  </figure>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                  <div class="content-box">
                    <div class="sec-title">
                      <p>Testimonials</p>
                      <h2>What Clients Say?</h2>
                    </div>
                    <div class="icon-box">
                      <i class="flaticon-left-quotes-sign"></i>
                    </div>
                    <div class="text">
                      <h5>
                        Lium Go has made going green seamless for our delivery
                        business. Their EVs are efficient, and the team's
                        support has been instrumental in our success. Highly
                        recommended!
                      </h5>
                    </div>
                    <div class="author-info">
                      <h3>Sachin Rathore</h3>
                      <span class="designation">Businessman</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial-section end -->

  <!-- project-section -->
  <section class="project-section">
    <div class="auto-container">
      <div class="sec-title text-center">
        <p>Electric Fleet</p>
        <h2>Our Vehicle Services</h2>
      </div>
      <div class="row clearfix d-flex align-items-stretch">
        <div class="col-lg-4 col-md-6 col-sm-12 project-block">
          <div class="project-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
            <div class="inner-box">
              <div class="image-holder">
                <figure class="image-box">
                  <img src="/images/IElum/left_side_auto.png" alt="" />
                </figure>
                <div class="lightbox-image view-btn" data-fancybox="gallery">
                  <h6>DIMENSIONS</h6>

                  <p>ASSEMBLE THE DV KIT WITHIN- 2 HOURS</p>
                  <p>Deck length- 5.5 ft.</p>
                  <p>RHS & LHS panels- 1700 x 1200 mm</p>
                  <p>Front panel- 1460 x 1050 mm</p>
                  <p>Top panel- 1850 x 1530 mm</p>
                  <p>LHS door- 510 x 1035 mm</p>
                  <p>
                    RHS door with container lock- 530 x 1150 mm ● DV kit
                    weight- 125 kgs
                  </p>
                </div>
              </div>
              <div class="lower-content">
                <h3>Piaggio</h3>
                <!--<span>
                       <p> 0.8 mm G.I. Corrugated welded with Mig welding Hat
                        sections duly fixed.
                      </p>
                      <p>Silicon Sealant for over lapping joints</p>
                      <p>High Tensile Nuts and Bolts.</p>
                      <p>Powder-coated Paint</p>
                      <p>2 doors with Container Locking</p>
                    </span> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 project-block">
          <div class="project-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
            <div class="inner-box">
              <div class="image-holder">
                <figure class="image-box">
                  <img src="/images/IElum/center_auto_1.jpg" alt="" />
                </figure>
                <div class="lightbox-image view-btn" data-fancybox="gallery">
                  <h6>DIMENSIONS</h6>
                  <p>
                    Vehicle Dimensions (L x W x H) in mm 3370 mm x 1465 mm x
                    2275 mm Wheelbase 2150 mm
                  </p>
                  <p>Gross Vehicle Weight 960 kg</p>
                  <p>Pay Load 550 kg</p>
                  <p>Tyre Size 4.5 -10 , 8 PR</p>
                  <p>Top Speed 45 kmph</p>
                  <p>Battery Capacity 7.7 kWh</p>
                  <p>True Range 117 km</p>
                  <p>Charging Time 45 Minutes</p>
                  <p>Max Power 9.55 kW</p>
                  <p>Peak Torque 430 Nm</p>
                </div>
              </div>
              <div class="lower-content">
                <h3>Log 9</h3>
                <!--<span>
                       <p> 0.8 mm G.I. Corrugated welded with Mig welding Hat
                        sections duly fixed.
                      </p>
                      <p>Silicon Sealant for over lapping joints</p>
                      <p>High Tensile Nuts and Bolts.</p>
                      <p>Powder-coated Paint</p>
                      <p>2 doors with Container Locking</p>
                    </span> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 project-block">
          <div class="project-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
            <div class="inner-box">
              <div class="image-holder">
                <figure class="image-box">
                  <img src="/images/IElum/right_side_auto.jpg" alt="Altigreen" />
                </figure>
                <div class="lightbox-image view-btn" data-fancybox="gallery">
                  <p>Cargo box dimensions- 1920x1590x1645 Mm</p>
                  <p>Ground Clearance- 220 Mm</p>
                  <p>Cargo box volume capacity- 177 Cu Ft</p>
                  <p>Vehicle GVW- 950 Kg</p>
                  <p>Body- Metal</p>
                </div>
              </div>
              <div class="lower-content">
                <h3>Altigreen</h3>
                <!-- <span>
                      Altigreen
                        With a closed container to keep your loads safe, and 20% more space than competition for
                        cargo thanks to our class-leading 177 cu ft (5 cu mts) container, High Deck 3-wheeler electric
                        cargo vehicle is your best choice for all road and weather conditions.
                    </span> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- project-section end -->
  <!-- news-section -->
  <section class="news-section" id="blog">
    <div class="pattern-layer wow slideInRight animated" data-wow-delay="500ms" data-wow-duration="1500ms"
      style="background-image: url(/images/shape/pattern-2.png)"></div>
    <div class="auto-container">
      <div class="sec-title text-center">
        <p>Recent Article</p>
        <h2>Stay Updated with <span style="color: #92de90">LIUM GO</span></h2>
      </div>
      <div class="row clearfix">
        <% const limitedBlogs = blogs.slice(0, 3); 
     for (let blog of limitedBlogs) { %>
          <div class="col-lg-4 col-md-6 col-sm-12 news-block">
            <div class="news-block-one wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
              <div class="inner-box">
                <div class="image-holder">
                  <figure class="image-box">
                    <img src="<%= blog?.images[0]?.url %>" alt="<%= blog.title %>" />
                  </figure>
                  <div class="post-date">
                    <i class="fas fa-calendar-alt"></i>
                    <p>
                      <%= blog.postingDate.toLocaleDateString()%>
                    </p>
                  </div>
                  <div class="link">
                    <a href="/blog-details/<%= blog._id %>"><i class="fas fa-arrow-right"></i></a>
                  </div>
                </div>
                <div class="lower-content">
                  <ul class="post-info">
                    <li><span>by</span>&nbsp;<a href="/blog-details/<%= blog._id %>">
                        <%= blog.author %>
                      </a></li>

                  </ul>
                  <h3><a href="/blog-details/<%= blog._id %>">
                      <%= blog.title %>
                    </a></h3>
                  <% const words=blog.description.split(' ');
                             const limitedWords = words.slice(0, 30); // Adjust the number to your preference
                          %>
                          <p><%= limitedWords.join(' ') %> <a href="/blog-details/<%= blog._id %>">Read more...</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% } %>
              </div>

    </div>
  </section>
  <!-- news-section end -->

  <!-- cta-section -->
  <section class="cta-section bg-color-2">
    <div class="pattern-box">
      <div class="pattern-1" style="background-image: url(/images/shape/pattern-7.png)"></div>
      <div class="pattern-2" style="background-image: url(/images/shape/pattern-8.png)"></div>
    </div>
    <div class="auto-container">
      <div class="content-box text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
        <h2>Join EV Revolution with LIUM GO</h2>
        <div>
          <a href="https://forms.gle/n3UdWiSC7nfn5ePN7" class="theme-btn style-three">Join Us</a>
        </div>
      </div>
    </div>
  </section>
  <!-- cta-sectione end -->

  <!-- qr section  -->

  <!-- <section class="project-section">
      <div class="auto-container">
        <div class="row clearfix">
          <div
            class="my-modal d-flex flex-row justify-content-center align-items-center"
          >
            <div
              class="my-alert fade show d-flex flex-column justify-content-center align-items-center"
              role="alert"
              style="margin: auto"
            >
              <button type="button" class="btn-close" onclick="removeModal()">
                &times;
              </button> -->
  <!-- <div class="text-center">Join As Driver</div> -->
  <!-- <div class="d-flex flex-row"> 
 
              <img
                style="height: 200px; width: 200px"
                src="https://chart.googleapis.com/chart?cht=qr&chl=https%3A%2F%2Fforms.gle%2FBzz2SfRiPbPF6rX79&chs=180x180&choe=UTF-8&chld=L|2"
              /> 
              <h3 class="text-center">OR</h3> 
               </div> 
               <div class="d-flex flex-row">
                <div
                  style="
                    background-color: white;
                    border-radius: 8px;
                    text-align: center;
                    margin-right: 5px;
                  "
                >
                  <p id="formLink" style="padding: 2px 10px">
                    https://forms.gle/XMBho9cAM2jZFi4B7
                  </p>
                </div>
                <button class="btn btn-dark" onclick="copyToClipboard()">
                  Copy
                </button>
              </div> 
              <a
                href="https://forms.gle/XMBho9cAM2jZFi4B7"
                class="btn btn-primary mt-5 text-center"
                >Apply Now</a
              >
          </div>
          </div>
        </div>
      </div>
    </section> -->

  <!-- main-footer -->
  <footer class="main-footer">
    <div class="auto-container">
      <div class="footer-top">
        <div class="widget-section wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="row clearfix">
            <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
              <div class="footer-widget logo-widget">
                <figure class="footer-logo">
                  <a href="/"><img src="/images/IElum/green-png.png" style="zoom: 1.5" alt="" /></a>
                </figure>
                <div class="text">
                  <!-- <p>Lorem ipsum dolor amet consectetur adipielit sed eiusm tempor incididunt ut
                                        labore dolore.</p> -->
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 footer-column d-flex justify-content-md-center">
              <div class="footer-widget links-widget">
                <div class="widget-title">
                  <h3>Quick Link</h3>
                </div>
                <div class="widget-content">
                  <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 footer-column d-flex justify-content-md-center">
              <div class="footer-widget contact-widget">
                <div class="widget-title">
                  <h3>Contact Info</h3>
                </div>
               <div class="widget-content">
                    <ul>
                      <li>
                        3/27, Mandawali A2 Saket Block, Street No 3, Delhi
                        110092.
                      </li>
                      <li>
                        <% phoneNumbers.forEach(number => { %>
                        <a href="tel:<%= number %>">+91<%= number %></a> , <%
                        }); %>
                      </li>
                      <li>
                        <a href="mailto:<%= email %>"><%= email %></a>
                      </li>
                    </ul>
                  </div>
                <ul class="social-links clearfix">
                  <li>
                    <a href="https://www.facebook.com/profile.php?id=100092609838823">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-facebook" viewBox="0 0 16 16">
                        <path
                          d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/Evolveindia010">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-twitter-x" viewBox="0 0 16 16">
                        <path
                          d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z" />
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="https://instagram.com/lium_go?utm_source=qr">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-instagram" viewBox="0 0 16 16">
                        <path
                          d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/company/lium-go/">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path
                          d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom clearfix">
        <div class="copyright d-flex flex-row justify-content-center align-items-center">
          <div>
            <!-- logo section -->
            <div class="footer-enterprise">
              <div class="footer-enterprise-logo">
                <img class="m-auto" src="/images/IElum/enterprise-logo.png" alt="Enterprise logo" />
              </div>
              <div class="d-flex align-items-end">
                <span class="mx-1">powered by</span>
                <span class="mx-1 font-weight-bold">EVOLVE ENTERPRISE INDIA</span>
              </div>
            </div>
            <!-- all right reserved -->
            <div class="text-center">
              <a href="/">LIUM GO</a> &copy; 2023 All Right Reserved
            </div>
          </div>
        </div>
        <!-- enterprise-logo.png -->
      </div>
    </div>
  </footer>
  <!-- main-footer end -->

  <!--Scroll to top-->
  <button class="scroll-top scroll-to-target" data-target="html">
    <span class="fa fa-arrow-up"></span>
  </button>

  <!-- jequery plugins -->
  <script src="/js/jquery.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/owl.js"></script>
  <script src="/js/wow.js"></script>
  <script src="/js/validation.js"></script>
  <script src="/js/appear.js"></script>
  <script src="/js/scrollbar.js"></script>
  <script src="/js/tilt.jquery.js"></script>
  <script src="/js/jQuery.style.switcher.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/text_animation.js"></script>

  <!-- main-js -->
  <script src="/js/script.js"></script>
  <script>
    const removeModal = () => {
      const modal = document.querySelector(".my-modal");
      modal.remove();
    };
    const copyToClipboard = () => {
      var textToCopy = $("#formLink").text();
      var tempTextarea = $("<textarea>");
      $("body").append(tempTextarea);
      tempTextarea.val(textToCopy).select();
      document.execCommand("copy");
      tempTextarea.remove();
    };
  </script>
</body>
<!-- End of .page_wrapper -->

</html>